h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

p, li{
    font-family: 'Raleway', sans-serif;
}

.introHeader {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.aboutMe {
    background-color: #f5e3e1;
    padding: 8px; 
    margin: 8px;
}


.aboutMe:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
  }

.current {
    border-style: dotted;
    border-color: #d6f5f5;
    margin: 8px;
    padding: 8px;
}

#cow {
    height: 30%;
    width: 30%;
}

#myPic {
    height: 30%;
    width: 30%;
}